.cardi:hover {

  transform: scale(1.1); 
}
.hover-item {
  transition: 0.3s;
}
.hover-item:hover {
  transform: translate(0, -10px);
}
.over:hover{
  background-color:rgba(0, 0, 0, 0.15);
}
.App-Section {
    font-family: Poppins;
}