.div1{ width:84px;
	height:140px;
	margin-top:800px;
	margin-left:1210px;
	position:absolute;
	background: none;
}
.ul1 {
	list-style: none;

	}
.list1{
	margin-bottom: 5px;
	background:none ;
	border: none;
	width: 44px;
	height: 44px;
}	
