.detailed{
  font-family: Poppins;
  width:79px ;
  height: 24px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  font-size:16px;
  color:rgba(117, 117, 117, 1);
  text-decoration: none;
  font-style: normal;
}